<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tagroup.thangducanh.baomoi_TA97">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoapp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoapp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.tagroup.thangducanh.baomoi_TA97.MainActivity" />
        <activity android:name="com.tagroup.thangducanh.baomoi_TA97.Main2Activity" />
        <activity android:name="com.tagroup.thangducanh.baomoi_TA97.HomeActivity"></activity>
        <activity android:name="com.tagroup.thangducanh.baomoi_TA97.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.tagroup.thangducanh.baomoi_TA97.QuangCaoActivity"></activity>
    </application>

</manifest>